/* FONTS */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
*, *::before, *::after {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #F7CD75;
}

img {
    vertical-align: middle;
}

/* WRAPPER */

.wrapper {
    display: flex;
    width: 800px;
}

/* WRAP-LEFT */

.wrap-left {
    padding: 40px;
    width: 300px;
    height: 450px;
    overflow: auto;
    background-color: #F2F2F2;
}

.wrap-left::-webkit-scrollbar {
    width: 8px;
}

.wrap-left::-webkit-scrollbar-thumb {
    border-radius: 15px;
    background-color: gray;
}

.wrap-left-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
}

.wrap-left-title {
    margin: 0;
    font-size: 20px;
    font-weight: 400;
}

.wrap-card {
    padding: 65px 0px 10px 10px;
    margin-bottom: 25px;
    border-radius: 5px;
    background: no-repeat 10px 15px;
    background-size: 60px 35px;
    background-color: #fff;
    border: 1px solid #c6cfd6;
    transition: 0.3s ease-in;
}

.wrap-card:hover {
    box-shadow: 0px 0px 0px 2px #919CC9;
}

.activ {
    box-shadow: 0px 0px 0px 2px #919CC9;
}

.wrap-card:last-child {
    margin: 0;
}

.visa {
    background-image: url("../img/visa.svg");
}

.mastercard {
    background-image: url("../img/mastercard.svg");
}

.maestro {
    background-image: url("../img/maestro.svg");
}

.wrap-card-link {
    display: inline-block;
    text-decoration: none;
    color: #626b74;
}

.wrap-ping {
    margin-bottom: 5px;
    font-size: 16px;
    font-weight: 500;
}

.wrap-left-desc {
    margin: 0;
    font-size: 13px;
    font-weight: 500;
}

/* WRAP-RIGHT */

.wrap-right {
    width: 500px;
    height: 450px;
    background-color: #fff;
}